# IDEs
.idea/

# R
.Rbuildignore
.RData
.Rhistory
.Rprofile
.Rproj.user

# Hugo
/resources/
/public/

# blogdown
/blogdown/
/static/en/
/static/fr/
/themes/academic/exampleSite/
*.rmarkdown
_index.html
index.html
